p { position:relative;
    top: 20px;
    text-align: center;
    font-size: 22px;
    
}


#nom{ background-color: red;
       width:300px;
       height:300px;
       border:1px solid black;
       padding:1px 0;
       text-align: center;
}



#reseaux { background-color:aqua;
	       width:300px;
	       height:120px;
           border:1px solid black;
           padding:1px 0;
           
    
} 

#logoreseau { position: absolute;
              top:330px;
              left:20px;
    
}

#objectifs { background-color:yellow;
	         width:300px;
	         height:300px;
             border:1px solid black;
             padding:1px 0;
             position: relative;
             
    right: 1px;
             
}


#infos {background-color: purple;
		width:300px;
	    height:436px;	
        border:1px solid black;
        padding:1px 0;
        position: relative;
        top:185px;
    right: 1px;
}



#contacts {background-color: silver;
           width:600px;
	       height:140px;
           border:1px solid black;
           padding:1px 0;
           position: relative;
           left:299px;
           bottom: 851px;
}


 #exp {background-color: orange;
      width:600px;
	  height:300px;
      border:1px solid black;
      padding:1px 0;
      position:relative;
      top:60px;
      right: 1px;
     
}


#formation {background-color: blue;
			width:600px;
	        height:120px;
            border:1px solid black;
            padding:1px 0;
            position: relative;
            top:186px;
    right: 1px;
            

           
}




#langues {background-color: pink;
		  width:600px;
	      height:300px;
          border:1px solid black;
          padding:1px 0;
  position: relative;
            top:36px;
    right: 1px;
            
}



#ref {background-color: green;
      width:600px;
	  height:300px;
      border:1px solid black;
      padding:1px 0;
       position: relative;
            top:222px;
    right: 1px;
            
}

